<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page Thanks</title>
</head>

<body>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .wrapper-thanks {
      height: 100vh;
      width: 100vw;
      background-color: #81c408;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .hnv-custom-thanks {
      background: #fff;
      padding: 5px 10px;
      box-shadow: 5px 5px 10px #000;
      color: #81c408;
      border-radius: 10px;
      text-align: center;
    }

    .text-small {
      
    }
  </style>

  <div class="wrapper-thanks">
    <div class="hnv-custom-thanks">
      <h1>Cảm ơn đã lựa chọn sản phẩm ở shop chúng tôi,</h1>
      <span class="text-small">hẹn găp lại bạn lần sau</span>
    </div>
  </div>
  <a class='btn' href='/'>BACK TO HOME</a>
</body>

</html>